<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560849118794-16juuqkb37hacm6sm374pj7q2tmeu458.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560849118794-16juuqkb37hacm6sm374pj7q2tmeu458</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>560849118794-7tjflv31b3ilc8l6v9rs8lvvr6ir04nu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjgLkryqotgtD1EoEVkbGWSjK-DY0n58E</string>
	<key>GCM_SENDER_ID</key>
	<string>560849118794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-8a667</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-8a667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560849118794:ios:1ccedb4516b92b5eb268b3</string>
</dict>
</plist>